@charset "utf-8";
body {
	
	overflow: visible !important;
	
	margin: 0;
	padding: 0;
	width: 100%;
	border:0px solid cyan; /* DEBUG */
}

.titulotd {
	background-color: #E0E0E0;
	font-weight: bold;	
}

.tdlimpoImpar {
	background:#EAEAEA;
	height: 20px;
	padding: 5px 0 0 4px;
}

.tdlimpoPar {
	height: 20px;
	padding: 5px 0 0 4px;
}
#conteudo tr.tdlimpoImpar td, 
#conteudo tr.tdlimpoPar td{
	height: 25px;
}


/* Ao carregar oculta Divs */
div.c3 {
	visibility: hidden;
	position: absolute;
	left: 1px;
	width: 99%;
	top: 218 px;
	height: 115px;
	border:0px solid black; /* DEBUG */
}
		
#conteudo {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px; 
	border:0px solid blue; /* DEBUG */
}
h1{
	font-size: 24px;
	text-align:center;
	color:#666;
	border:0px solid red; /* DEBUG */
}
#ancora {
	width: 99%;
	height: 10px;
	padding: 5px 0 10px 0;
	text-align:center;
	border: #CCC solid 1px;
}
#ancora a{
	color:#000;
	text-decoration:none;
}
#ancora a:hover{
	text-decoration:underline;
}
#titulo {
	width: 100%;
	height: 10px;
	padding: 5px 0 10px 20px;
	font-weight:bold;
	background: #E0E0E0;
}

#limpar{
	border: #F00 solid 1px;
	background: #FFE5D9;
	font-weight:bold;
	color:#F00;
	padding: 1px 5px 1px 5px;
	margin-right: 10px;
}
#conteudo form input[type="submit"], #conteudo form input[type="button"]{
	border: #999 solid 1px;
	background: #CCC;
	font-weight:bold;
	padding: 1px 5px 1px 5px;	
}
#conteudo form input[type="reset"]{
	border: #F00 solid 1px;
	background: #FFE5D9;
	font-weight:bold;
	color:#F00;
	padding: 1px 5px 1px 5px;
	margin-right: 10px;	
}

#consultar{
	border: #999 solid 1px;
	background: #CCC;
	font-weight:bold;
	padding: 1px 5px 1px 5px;
}

#titulo_res{
	width: 710px;
	height: 15px;
	padding: 5px 0 5px 10px;
	font-weight:bold;
	background: #E0E0E0;
}
#radio {
	width: 15px;
	height: 15px;
	float:left;
	margin-right: 10px;
}
#protocolo {
	width: 100px;
	height: 15px;
	float:left;
	margin-right: 10px;
	text-align:center;
}
#origem{
	width: 100px;
	height: 15px;
	float:left;
	margin-right: 10px;
	text-align:center;
}  	
#situacao{
	width: 85px;
	height: 15px;
	float:left;
	margin-right: 10px;
	text-align:center;	
}  	
#identificacao{
	width: 80px;
	height: 15px;
	float:left;
	margin-right: 10px;
	text-align:center;	
}
#num_unico{
	width: 160px;
	height: 15px;
	float:left;
	margin-right: 10px;
	text-align:center;	
}
#resultado {
	width: 100%;
	height: 100%;
	padding: 5px 0 5px 10px;
	font-weight:bold;
	float:left;
}
#res_radio {
	width: 15px;
	height: 15px;
	float:left;
	margin-right: 10px;
}
#res_protocolo {
	width: 100px;
	height: 100%;
	float:left;
	margin-right: 10px;
	text-align:center;
}
#res_origem{
	width: 100px;
	height: 100%;
	float:left;
	margin-right: 10px;
	text-align:center;
}  	
#res_situacao{
	width: 85px;
	height: 100%;
	float:left;
	margin-right: 10px;
	text-align:center;	
}  	
#res_identificacao{
	width: 80px;
	height: 100%;
	float:left;
	margin-right: 10px;
	text-align:center;	
}
#res_num_unico{
	width: 160px;
	height: 100%;
	float:left;
	margin-right: 10px;
	text-align:center;	
}
#res_lugar{
	width: 100px;
	height: 100%;
	float:left;
	margin-right: 10px;
	text-align:center;	
}

a{
	color:#000;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}


#digdoclink a:link { 
	text-decoration:none;
	text-transform: uppercase;
	font-size: 13px; 
	vertical-align: top;
}

#digdoclink a:hover { 
	font-weight:bold;
	text-decoration:underline; 
}


strong{
	float:left;
}
#campo_processo{
	background:#EAEAEA;
	height: 10px;
	padding: 5px 0 10px 10px;	
	float:left;
	width: 710px;
}
#processo{
	width: auto;
	height: 10px;
	padding: 0 10px 5px 10px;
	float:left;
}
#campo_uf{
 	width: auto;
	height: 10px;
	padding: 0 10px 5px 10px;
	float:left;
}
#campo_municipio{
    float:left;
	padding: 5px 0 0 10px;
	height: 20px;
	width: 99%;
}
#municipio{
	width: auto;
	height: 10px;
	padding: 0 10px 5px 10px;
	float:left;
}
#campo_protocolo{
	background:#EAEAEA;
	height: 10px;
	padding: 5px 0 10px 10px;
	float:left;
	width: 710px;
}
#prot{
	width: auto;
	height: 10px;
	padding: 0 10px 5px 10px;
	float:left;
}
#campo_interessado{
	height: 10px;
	padding: 5px 0 10px 10px;
	float:left;
	width: 710px;
}
#interessado{
	width: auto;
	height: 10px;
	padding: 0 10px 5px 10px;
	float:left;
}
#campo_corregedor{
	background:#EAEAEA;
	height: 10px;
	padding: 5px 0 10px 10px;
	float:left;
	width: 710px;
}
#corregedor{
	width: auto;
	height: 10px;
	padding: 0 10px 5px 10px;
	float:left;
}
#campo_assunto{
	height: 100%;
	padding: 5px 0 5px 10px;	
	float:left;
	width: 710px;
}
#assunto{
	width: auto;
	height: 100%;
	padding: 0 10px 0 10px;
	float:left;
}
#campo_localizacao{
	background:#EAEAEA;
	height: 100%;
	padding: 5px 0 2px 10px;
	float:left;
	width: 710px;
}
#localizacao{
	width: auto;
	height: 100%;
	padding: 0 10px 0 10px;
	float:left;
}
#campo_fase{
	height: 100%;
	padding: 5px 0 5px 10px;	
	float:left;
	width: 710px;
}
#fase{
	width: auto;
	height: 100%;
	padding: 0 10px 0 10px;
	float:left;
}
#n_origem{
	width: auto;
	height: 10px;
	padding: 0 10px 5px 10px;
	float:right;
}
#lugar{
	width: auto;
	height: 10px;
	padding: 0 10px 5px 10px;
	float:right;
}
.processo_eletronico, p.processo_eletronico {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: normal;
	text-align: left;
	vertical-align: top;
	color: #C60000;
	padding-right: 10px;
}

.processo_eletronico a:link, .processo_eletronico a:visited
{
color: #C60000;
text-decoration:underline;
}
.processo_eletronico a:hover
{
color: #C60000;
text-decoration:none;
}
